In [ ]:
%pip install polars

In [5]:
import polars as pl

df=pl.read_csv("ordf.csv")
df

shape: (4, 4)
┌─────┬─────┬─────┬────────┐
│     ┆ a   ┆ b   ┆ a_or_b │
│ --- ┆ --- ┆ --- ┆ ---    │
│ i64 ┆ i64 ┆ i64 ┆ i64    │
╞═════╪═════╪═════╪════════╡
│ 0   ┆ 0   ┆ 0   ┆ 0      │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 1   ┆ 0   ┆ 1   ┆ 1      │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2   ┆ 1   ┆ 0   ┆ 1      │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 3   ┆ 1   ┆ 1   ┆ 1      │
└─────┴─────┴─────┴────────┘

In [15]:
df.select(["a","a_or_b"]).sum()

shape: (1, 2)
┌─────┬────────┐
│ a   ┆ a_or_b │
│ --- ┆ ---    │
│ i64 ┆ i64    │
╞═════╪════════╡
│ 2   ┆ 3      │
└─────┴────────┘

In [14]:
df.select("^a|b$")

shape: (4, 3)
┌─────┬─────┬────────┐
│ a   ┆ b   ┆ a_or_b │
│ --- ┆ --- ┆ ---    │
│ i64 ┆ i64 ┆ i64    │
╞═════╪═════╪════════╡
│ 0   ┆ 0   ┆ 0      │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 0   ┆ 1   ┆ 1      │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 1   ┆ 0   ┆ 1      │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 1   ┆ 1   ┆ 1      │
└─────┴─────┴────────┘

In [16]:
df.select([pl.all(),
          pl.all().reverse().suffix("_reverse")]
          )

shape: (4, 8)
┌─────┬─────┬─────┬────────┬──────────┬───────────┬───────────┬────────────────┐
│     ┆ a   ┆ b   ┆ a_or_b ┆ _reverse ┆ a_reverse ┆ b_reverse ┆ a_or_b_reverse │
│ --- ┆ --- ┆ --- ┆ ---    ┆ ---      ┆ ---       ┆ ---       ┆ ---            │
│ i64 ┆ i64 ┆ i64 ┆ i64    ┆ i64      ┆ i64       ┆ i64       ┆ i64            │
╞═════╪═════╪═════╪════════╪══════════╪═══════════╪═══════════╪════════════════╡
│ 0   ┆ 0   ┆ 0   ┆ 0      ┆ 3        ┆ 1         ┆ 1         ┆ 1              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1   ┆ 0   ┆ 1   ┆ 1      ┆ 2        ┆ 1         ┆ 0         ┆ 1              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2   ┆ 1   ┆ 0   ┆ 1      ┆ 1        ┆ 0         ┆ 1         ┆ 1              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3   ┆ 1   ┆ 1   ┆ 1      ┆ 0        ┆ 0         ┆ 0         ┆ 0              │
└─────┴─────┴─────┴────────┴──────────┴───────────┴───────────┴────────────────┘

In [17]:
df.select([pl.all(),
          pl.all().sum().suffix("_sum")]
          )

shape: (4, 8)
┌─────┬─────┬─────┬────────┬──────┬───────┬───────┬────────────┐
│     ┆ a   ┆ b   ┆ a_or_b ┆ _sum ┆ a_sum ┆ b_sum ┆ a_or_b_sum │
│ --- ┆ --- ┆ --- ┆ ---    ┆ ---  ┆ ---   ┆ ---   ┆ ---        │
│ i64 ┆ i64 ┆ i64 ┆ i64    ┆ i64  ┆ i64   ┆ i64   ┆ i64        │
╞═════╪═════╪═════╪════════╪══════╪═══════╪═══════╪════════════╡
│ 0   ┆ 0   ┆ 0   ┆ 0      ┆ 6    ┆ 2     ┆ 2     ┆ 3          │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1   ┆ 0   ┆ 1   ┆ 1      ┆ 6    ┆ 2     ┆ 2     ┆ 3          │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2   ┆ 1   ┆ 0   ┆ 1      ┆ 6    ┆ 2     ┆ 2     ┆ 3          │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3   ┆ 1   ┆ 1   ┆ 1      ┆ 6    ┆ 2     ┆ 2     ┆ 3          │
└─────┴─────┴─────┴────────┴──────┴───────┴───────┴────────────┘

In [18]:
df = pl.DataFrame(
    {
        "A": [1, 2, 3, 4, 5],
        "fruits": ["banana", "banana", "apple", "apple", "banana"],
        "B": [5, 4, 3, 2, 1],
        "cars": ["beetle", "audi", "beetle", "beetle", "beetle"],
        "optional": [28, 300, None, 2, -30],
    }
)
df

shape: (5, 5)
┌─────┬────────┬─────┬────────┬──────────┐
│ A   ┆ fruits ┆ B   ┆ cars   ┆ optional │
│ --- ┆ ---    ┆ --- ┆ ---    ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ str    ┆ i64      │
╞═════╪════════╪═════╪════════╪══════════╡
│ 1   ┆ banana ┆ 5   ┆ beetle ┆ 28       │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2   ┆ banana ┆ 4   ┆ audi   ┆ 300      │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 3   ┆ apple  ┆ 3   ┆ beetle ┆ null     │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 4   ┆ apple  ┆ 2   ┆ beetle ┆ 2        │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 5   ┆ banana ┆ 1   ┆ beetle ┆ -30      │
└─────┴────────┴─────┴────────┴──────────┘

In [19]:
predicate = pl.col("fruits").str.contains("^b.*")
df.select([predicate])

shape: (5, 1)
┌────────┐
│ fruits │
│ ---    │
│ bool   │
╞════════╡
│ true   │
├╌╌╌╌╌╌╌╌┤
│ true   │
├╌╌╌╌╌╌╌╌┤
│ false  │
├╌╌╌╌╌╌╌╌┤
│ false  │
├╌╌╌╌╌╌╌╌┤
│ true   │
└────────┘

In [20]:
df.filter(predicate)

shape: (3, 5)
┌─────┬────────┬─────┬────────┬──────────┐
│ A   ┆ fruits ┆ B   ┆ cars   ┆ optional │
│ --- ┆ ---    ┆ --- ┆ ---    ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ str    ┆ i64      │
╞═════╪════════╪═════╪════════╪══════════╡
│ 1   ┆ banana ┆ 5   ┆ beetle ┆ 28       │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2   ┆ banana ┆ 4   ┆ audi   ┆ 300      │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 5   ┆ banana ┆ 1   ┆ beetle ┆ -30      │
└─────┴────────┴─────┴────────┴──────────┘

In [22]:
df.filter(pl.col("B")<5)

shape: (4, 5)
┌─────┬────────┬─────┬────────┬──────────┐
│ A   ┆ fruits ┆ B   ┆ cars   ┆ optional │
│ --- ┆ ---    ┆ --- ┆ ---    ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ str    ┆ i64      │
╞═════╪════════╪═════╪════════╪══════════╡
│ 2   ┆ banana ┆ 4   ┆ audi   ┆ 300      │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 3   ┆ apple  ┆ 3   ┆ beetle ┆ null     │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 4   ┆ apple  ┆ 2   ┆ beetle ┆ 2        │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 5   ┆ banana ┆ 1   ┆ beetle ┆ -30      │
└─────┴────────┴─────┴────────┴──────────┘